/* Navbar Styles */
.navbar {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

.navbar-icons {
  display: none;
}

.menu-icon, .close-icon {
  font-size: 1.5em;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: right;
  transition: transform 0.3s ease-in-out;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links li {
  margin: 0 5px;
  list-style: none;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

.dropdown {
  position: relative;
}

.dropdown-link {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 30px;
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Sidebar Styles */
.navbar-links.active {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.navbar-links ul {
  width: 100%;
}

.navbar-links li {
  width: 100%;
  margin: 10px 0;
}

.navbar-links a {
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  display: block;
}

/* Responsive layout */
@media (max-width: 768px) {
  .navbar-icons {
    display: block;
  }
  
  .navbar-links {
    display: none;
  }

  .navbar-links.active {
    display: flex;
  }
}
