/* Base styles */
body {
  background: linear-gradient(135deg, #E3E3E3, #1E2029, #E0FF00, #1E2029, #FFFFFF);
  background-size: cover;
  margin: 0;
  font-family: Arial, sans-serif;
}

.intro-message {
  text-align: left;
  margin: 9% 0 0 5%;
  max-width: 600px;
}

.intro-message p {
  text-align: justify;
  text-justify: inter-word;
}

.property-listing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.property-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: auto;
}

.property-info {
  padding: 15px;
}

.property-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-header .location {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.property-header .prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.total-price p {
  color: black;
  font-size: 18px;
}
.prices{
  flex-direction: row;
}
.token-price p {
  color: #1E2029;
  font-size: 18px;
}

.property-details p {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 400;
}

.view-property-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #1E2029;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 4px;
}

.view-property-btn:hover {
  background-color: #333;
}

/* Footer Styles */
.footer {
  padding: 20px;
  background-color: #1E2029;
  color: white;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left, .footer-right {
  flex: 1;
  padding: 10px;
  max-width: 500px;
}

.footer-left ul, .footer-right ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer-left li, .footer-right li {
  margin-bottom: 10px; /* Add spacing between list items */
}

.footer-bottom {
  margin-top: 10px;
}


/* Responsive styles */
@media (max-width: 1200px) {
  .property-listing {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .property-listing {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .property-listing {
    grid-template-columns: 1fr;
  }
  .property-details p {
    margin: 10px 0;
    font-size: 16px;
    font-weight: 400;
  }
}
